<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <img src="assets/imgs/ic_menu.png">
        </button>
        <ion-title *ngIf="product">
            <p [innerHTML]="product.categories[0].name"></p>
            <div class="icon-box" (click)="cartPage()">
                <img src="assets/imgs/ic_my_cart.png">
                <ion-badge>{{cartTotal}}</ion-badge>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <div *ngIf="product" class="img-section shadow-bottom" text-center>
        <div class="img-box">
            <img *ngIf="imageToDisplay" data-src="{{imageToDisplay}}">
            <img *ngIf="!imageToDisplay" src="assets/imgs/veg-1.png">
        </div>

        <div *ngIf="product.images && product.images.length" class="tab-btn-box">
            <div class="tab-btn">
                <img data-src="{{product.images[0].src}}" (click)="showImage(product.images[0].src)">
            </div>
            <div *ngIf="product.images.length > 1" class="tab-btn">
                <img data-src="{{product.images[1].src}}" (click)="showImage(product.images[1].src)">
            </div>
            <div *ngIf="product.images.length > 2" class="tab-btn">
                <img data-src="{{product.images[2].src}}" (click)="showImage(product.images[2].src)">
            </div>
        </div>
        <div class="d-flex" style="align-items: stretch;">
            <span class="product_name">{{product.name}}</span>
            <span class="icon" item-end>
                <ion-icon name="share-alt" (click)="shareProduct(product)"></ion-icon>
            </span>
        </div>
    </div>

    <!-- Variations start -->
    <div *ngIf="productVariations && productVariations.length" class="your-items" padding-top>
        <ion-card-header>
            <p>{{ 'variations' | translate }}</p>
        </ion-card-header>
        <ion-card-content *ngFor="let item of productVariations">
            <ion-row>
                <ion-col col-3>
                    <div *ngIf="item.images && item.images.length" class="img-box">
                        <img data-src="{{item.images[0].src}}">
                    </div>
                    <div *ngIf="!item.images || !item.images.length" class="img-box">
                        <img src="assets/imgs/suit_PNG8132.png">
                    </div>
                </ion-col>
                <ion-col col-9>
                    <h4>{{item.name}}</h4>
                    <div class="rate">
                        <div style="display: flex;" class="price-box">
                            <div *ngIf="item.regular_price != item.sale_price" class="price text-light" padding-right
                                [innerHTML]="item.regular_price_html">
                            </div>
                            <div class="price text-sky" [innerHTML]="item.sale_price_html">
                            </div>
                        </div>
                        <p text-right class="card-bottom">
                            <button ion-button class="small button btn-round bg-green" text-right (click)="buyVariation(item)">{{
                                'buy_now' | translate }}</button>
                        </p>
                    </div>
                    <p class="card-bottom">
                        <button ion-button class="small button btn-round" text-right (click)="addVariation(item)">{{
                            'add_to_cart' | translate }}</button>
                    </p>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </div>
    <!-- Variations end -->

    <div *ngIf="product && product.description" class="about-section shadow-bottom bg-white">
        <h3>{{ 'about_product' | translate }}</h3>
        <p [innerHTML]="product.description">
        </p>
    </div>
    <div *ngIf="product && product.type == 'simple'" style="height: 60px"></div>
    <div *ngIf="product && product.type == 'simple'" class="price-section shadow-bottom bg-white">
        <div class="d-flex">
            <div class="rate">
                <div style="display: flex;" class="price-box">
                    <div *ngIf="product.regular_price != product.sale_price" class="price text-light" padding-right [innerHTML]="product.regular_price_html">
                    </div>
                    <div class="price text-sky" [innerHTML]="product.sale_price_html">
                    </div>
                </div>
            </div>
            <p text-right class="card-bottom">
                <button ion-button class="small button btn-round bg-green" text-right (click)="buyNow()">{{
                    'buy_now' | translate }}</button>
            </p>
            
            <p class="card-bottom">
                <button ion-button class="small button btn-round" text-right (click)="addVariation(product)">{{
                    'add_to_cart' | translate }}</button>
            </p>
        </div>
    </div>
</ion-content>